MYSQL_ROOT_PASSWORD=root
MYSQL_USER=taskuser
MYSQL_PASSWORD=taskpass
MYSQL_PORT=3306
REDIS_PORT=6379
ROCKETMQ_NAMESRV_PORT=9876
ROCKETMQ_BROKER_PORT=10911
ROCKETMQ_BROKER_VIP_PORT=10909
ROCKETMQ_CONSOLE_PORT=8088
APP_PORT=8080
SCHEDULER_BATCH_SIZE=50
TASK_MAX_PAYLOAD_BYTES=262144
